<!DOCTYPE html>
<html>
<head>
  <title>Webtoon CMS</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
      <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= notice %></p>
      </div>



      <div class="alert alert-error">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <p><%= alert %></p>
      </div>


    <div id="container">
      <%= yield %>
    </div>
  </div>
</body>
</html>
